[toyfac]
expected_yield=10001
workspace_filename_name=ws.root,ws
dataset_filename_name=data.root,dataset
pdf_name_ws=pdf_add
argset_name_ws=argset_obs
parameter_read_file=generation.par
parameter_save_file=generation_used.par
#discrete_probabilities=tag,-1,0.5,1,0.5
#discrete_probabilities=tag2,-1,0.5,1,0.5
proto_section=pdf_add,testsection
proto_section=test1,testsection2
#proto_section=pdf_extend2,testsection
proto_section=test2,testsection2
#proto_section=pdf_extend3,testsection
proto_section=test3,testsection2

[toystudy]
store_result_filename_treename=results2.root,results
read_results_filename_treename=results2.root,results

[testsection]
discrete_probabilities=tag,-1,0.01,1,0.99

[testsection2]
discrete_probabilities=tag2,-1,0.99,1,0.01
